  
  #comment {
  background: rgba(235, 238, 240, 0.2);
  padding: 5px;
  color: #fff;
  }
#comment .time {
  font-family: "Lucida Console", "Courier New", ;
  background: rgba(223, 238, 245, 0.1);
  border-top: 0.1px solid #ccc;
  margin: 0;
  font-size: 11px;
  color: #ddd;
  padding-top: 2px;
}
  #comment .name {
   font-family: Georgia, serif;
  background: rgba(223, 238, 245, 0.2);
  margin: 0;
  font-size: 12px;
  padding:0px;
  font-widht: bold;
  
}
  #comment .comment {
  background: rgba(223, 238, 245, 0.1);
  margin: 0;
  font-size: 12px;
  padding:0px;
  padding-bottom:px;
  margin-bottom: 2px;
  border-bottom: 0.1px solid #ccc;
}

.countdown{
 	background-color: rgb(22, 44, 48, 0.8);
    padding: 15px;
    border-radius: 8px;
    border-color: 3px solid #0ca7c9;
  --number-color: hsl(0 0% 100%);
  --text-color: hsl(0 0% 90%);
  --dot-color: hsl(0 100% 85%);
  --dot-color-remaining: hsl(182, 100%, 66%);
  --dot-color-active: hsl(0 100% 50%);
  font-family: system-ui, sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: min(60rem, 100%);
  margin-inline: auto;
  container: inline-size;
  > .part {
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    > .remaining {
      grid-area: 1/1;
      color: hsl(0 0% 100%);
      display: grid;
      text-align: center;
      font-size: 4cqi;
      >.number {
        color: var(--number-color);
      }
      >.text {
        color: var(--text-color);
        text-transform: uppercase;
        font-size: 0.5em;
      }
    }
    > .dot-container {
      grid-area: 1/1;
      height: 100%;
      width: 4%;
      rotate: calc(360deg / var(--dots) * var(--dot-idx));
      > .dot {
        width: 100%;
        aspect-ratio: 1/1;
        background-color: var(--dot-color);
        border-radius: 50%;
        transition: background-color .25s;
        &[data-active=true]{
          background-color: var(--dot-color-remaining);
          &[data-lastactive=true]{
            background-color: var(--dot-color-active);
          }
        }
      }
    }
  }
}

.otoy {
  font-size: 48px;
  color: rgb(134, 185, 216, 0.1);
}
.otoye {
	position: relative;
  font-size: 88px;
  color: rgb(134, 185, 216, 0.1);
  top: -88px;
  height: 55px;
}
.likes {
 position: relative;
  margin-top: -50px;
  padding: 0px;
  height: 55px;
  z-index: 0;
  color: #0b47a1;
}
.foter-like {
  height: 80px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  z-index: 0;
  }
.label {
  padding: 0px;
  font-size: 14px;
  color: #111;
  width: 117px;
}
.copy-text {
  position: relative;
  padding: 0px;
  border-radius: 10px;
  display: flex;
  width: 117px;
}
.copy-text input.text {
  padding: 0px;
  font-size: 15px;
  color: #222;
  border: none;
  outline: none;
  width: 116px;
  color: #fff;
  font-family: Georgia;
  background-color: rgb(134, 185, 216, 0.3);
}
.copy-text button {
  padding: 1px 4px;
  background: #444;
  color: #fff;
  font-size: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  height: 22px;
  text-align: center;
}

.copy-text button:active {
  background: #809ce2;
}
.copy-text button::before {
  content: "Copied Rekening";
  position: absolute;
  background: rgba(8, 41, 54, 0.6);
  top: -60px;
  left: 20px;
  padding: 6px 2px;
  border-radius: 8px;
  font-size: 12px;
  display: none;
  z-index: 99;
}
.copy-text button::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 25px;
  width: 10px;
  height: 10px;
  background: #5c81dc;
  transform: rotate(45deg);
  display: none;
}
.copy-text.active button::before,
.copy-text.active button::after {
  display: block;
}

.copy-text2 {
  position: relative;
  padding: 0px;
  border-radius: 10px;
  display: flex;
  width: 116px;
  
}
.copy-text2 input.text2 {
  padding: 0px;
  font-size: 15px;
  color: #222;
  border: none;
  outline: none;
  width: 116px;
  color: #fff;
  font-family: Georgia;
  background-color: rgb(134, 185, 216, 0.3);
}
.copy-text2 button {
  padding: 1px 4px;
  background: #444;
  color: #fff;
  font-size: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  height: 22px;
  
}

.copy-text2 button:active {
  background: #809ce2;
}
.copy-text2 button::before {
  content: "Copied Rekening";
  background: rgba(8, 41, 54, 0.6);
  position: absolute;
  top: -60px;
  left: 20px;
  background: #666;
  padding: 6px 2px;
  border-radius: 8px;
  font-size: 12px;
  display: none;
  z-index: 99;
}
.copy-text2 button::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 25px;
  width: 10px;
  height: 10px;
  background: #5c81dc;
  transform: rotate(45deg);
  display: none;
}
.copy-text2.active button::before,
.copy-text2.active button::after {
  display: block;
}

input {
  display: none;
}

label {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 11px;
  background: tomato;
  color: #FFF;
  -webkit-transition: background-color 0.9s, color 0.9s;
}

label:hover {
  background: rgba(25, 158, 224, 0.5);
  color: #FFF;
}

.test {
 width: 100%;
  -webkit-transition: height 1.5s ease;
  height: 0;
  overflow: hidden;
  color: #FFF;
  magin-top: 10px;
  display: flex;
    align-items: center;
    justify-content: center;
}
.testcont {
  padding: 20px;
  overflow: auto;
  color: #FFF;
  width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 15px;
    background: rgba(25, 158, 224, 0.5);
}
.card {
  width: 100%;
    height: 210px;
	margin-top: 20px;
	margin-bottom: 20px;
   background: linear-gradient(rgba(25, 158, 224, 0.8), rgba(25, 158, 224, 0.8)), url(../img/kado.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  padding: 20px; pedding-botom: -425px;
  border: 1.5px solid #027dba;
}
.testcont .card h5 {
	text-align: left;
    color: #fff;
    font-family: Georgia;
    font-size: 12px;
    margin-top: 2px;
}
.testcont .card h1 {
	text-align: center;
	font-size: 25px;
    color: #FFF;
    margin-top: 10px;
    margin-left: -12px;
}
.testcont .card p {
	text-align: left;
   font-size: 12px;
   font-family: Georgia;
}

#potocard {
	border-radius: 8px;
	 width: 60px;
    height: 60px;
     position: absolute;
    right: 18px;
    bottom: 75px;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    transition: 0.9s;
}
#logobank {
	position: absolute;
    right: 18px;
    top: 5px;
    }
input:checked + .test {
   height: 510px;
}

.word {
  margin: auto;
  color: white;
  height: 5.8rem;
  font: 500 normal 1.2em 'Quicksand';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}
.hidden {
    display: none !important;
}

main {
    text-align: center;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 3rem 0;
    gap: 1rem 2rem;
}
.buttons button {
    border: none;
    height: 3.6rem;
    border-radius: 1.0rem;
    font-family: inherit;
    font-size: inherit;
    color: #FFF;
    padding: 0 3rem;
    background-color: rgb(134, 185, 216);
    cursor: pointer;
}
.buttons button:hover {
    background-color: rgb(112, 163, 194);
}
.buttons button.btn-cookie {
    background-color: rgb(234, 194, 145);
}
.buttons button.btn-cookie:hover {
    background-color: rgb(198, 156, 106);
}
.buttons button.btn-exclamation {
    background-color: rgb(226, 119, 84);
}
.buttons button.btn-exclamation:hover {
    background-color: rgb(180, 89, 59);
}
.buttons button.btn-medal {
    background-color: rgb(91, 24, 24);
}
.buttons button.btn-medal:hover {
    background-color: rgb(70, 14, 14);
}


/* POPUPS */
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.1);
   display: grid;
    place-items: center;
    transition: opacity 2s;
   z-index: 999;
}
.popup-content {
   background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../img/family.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    min-height: 0rem;
    border-radius: .5rem;
     width: 100%;
    height: 100%;
    color: #fff;
    background-color: #aaa;
    box-shadow: 0 0 3rem rgba(0,0,0,.3);
    animation: popup 1.1s linear forwards;
   opacity: 0.5;
}
.popup-content-hide {
    animation: hide 0.8s linear forwards !important;
}
.popup-header {
    min-height: 0.5rem;
    display: grid;
    place-items: center;
    margin-bottom: 4rem;
}

.popup-text {
    margin: 2rem;
    text-align: center;
    margin: 0;
   margin: 0;
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup-text h5 {
    font-size: 21px;
    color: #fff;
    font-family: cursive;
    margin-bottom: 1rem;
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}
.popup-text p {
    font-size: 25px;
    margin-bottom: 1rem;
   font-family: cursive;
    margin-bottom: 0.5rem;
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}
.popup-text button {
    
    border: none;
    padding: 10px 20px;
    margin-top: 0.5rem;
    border-radius: 1.0rem;
    font-family: inherit;
    font-size: inherit;
    color: #FFF;
    background-color: rgb(134, 185, 216);
    cursor: pointer;
     
}
.popup-text button:hover {
    background-color: rgb(112, 163, 194);
}
.popup-text button.btn-grey {
    background-color: rgb(203, 203, 203);
}
.popup-text button.btn-grey:hover {
    background-color: rgb(178, 178, 178);
}
.popup-close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 4rem;
    color: #999;
    cursor: pointer;
}

/* COOKIE POPUP */
.popup-cookie .cookie {
    transform: rotate(40deg) translateY(-1rem);
}
.popup-cookie h1 {
    color: rgb(234, 194, 145);
}
.popup-cookie button {
    background-color: rgb(234, 194, 145);
}
.popup-cookie button:hover {
    background-color: rgb(198, 156, 106);
}

/* EXCLAMATION POPUP */
.popup-exclamation .exclamation {
    transform: rotate(-10deg) translateY(-2rem);
}
.popup-exclamation h1 {
    color: rgb(226, 119, 84);
}
.popup-exclamation button {
    background-color: rgb(226, 119, 84);
}
.popup-exclamation button:hover {
    background-color: rgb(180, 89, 59);
}

/* MEDAL POPUP */
.popup-medal .medal {
    transform: rotate(5deg) translateY(-2rem);
}
.popup-medal h1 {
    color: rgb(91, 24, 24);
}
.popup-medal button {
    background-color: rgb(91, 24, 24);
}
.popup-medal button:hover {
    background-color: rgb(70, 14, 14);
}


/* ENVELOPE */
.mail {
    position: relative;
    transform: rotate(-10deg);
    width: 15rem;
} 

.envelope {
    position: relative;
    background: transparent;
    width: 15rem;
    height: 10rem;
    border-radius: 0 0 1rem 1rem;
    overflow: hidden;
    z-index: 5;
    box-shadow: 1rem 1rem rgba(25, 40, 43, 0.4);
}
.envelope-back {
    position: absolute;
    bottom: 0;
    background-color: rgb(134, 185, 216);
    width: 15rem;
    height: 10rem;
    border-radius: 0 0 1rem 1rem;
    overflow: hidden;
    z-index: 1;
}
.envelope::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-left: 1rem solid rgba(219, 235, 245, 0.576);
    border-top: 1rem solid transparent;
}
.envelope-left, .envelope-right {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(178, 214, 236);
    width: 10rem;
    height: 10rem;
    transform-origin: top left;
    transform: rotate(45deg);
    box-shadow: -.5rem -.5rem 0 rgba(127, 163, 186, 0.5);
}
.envelope-right {
    left: auto;
    right: 0;
    transform-origin: top right;
    transform: rotate(-45deg);
    background-color: rgb(178, 214, 236);
}
.envelope-bottom {
    position: absolute;
    left: 50%;
    bottom: -55%;
    transform: translateX(-50%) rotate(45deg);
    background-color: rgb(178, 214, 236);
    border-radius: 1rem;
    width: 10rem;
    height: 10rem;
    box-shadow: -.5rem -.5rem 0 rgba(127, 163, 186, .5);
}
.envelope-top {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    background-color: rgb(134, 185, 216);
    border-radius: 1rem 0 0 0;
    width: 10rem;
    height: 10rem;
    outline: .3rem solid rgb(134, 185, 216);
    z-index: 1;
}

.letter {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 11rem;
    height: 10rem;
    background-color: #FFF;
    z-index: 2;
    border: .5rem solid rgba(127, 163, 186, 0.5);
    display: grid;
    place-items: center;
}
.face {
    position: relative;
    transform: translateY(-1rem);
    width: 6rem;
    height: 2rem;
}
.eye-left, .eye-right {
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgb(110, 133, 148);
}
.eye-right {
    right: 0;
    left: auto;
}
.mouth {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1.5rem;
    height: 2rem;
    border-radius: 50%;
    background: linear-gradient(to top, rgb(110, 133, 148),  rgb(110, 133, 148) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0));
}

/* COOKIE */
.cookie {
    position: relative;
}
.cookie-body {
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: rgb(234, 194, 145);
    overflow: hidden;
    box-shadow: .5rem .5rem 0 rgba(0,0,0,.2);
}
.cookie-bite {
    content: '';
    position: absolute;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: #FFF;
    right: 2rem;
    top: .8rem;
    box-shadow: 3rem .5rem 0 #FFF,
        -2rem -2rem 0 #FFF;
}

.cookie-body .face {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-20deg);
}
.cookie-body .mouth { background: linear-gradient(to top, rgb(55, 38, 18),  rgb(55, 38, 18) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0)); }
.cookie-body .eye-left, .cookie-body .eye-right { background-color: rgb(55, 38, 18); }

.cookie-body::before {
    content: '';
    position: absolute;
    height: 110%;
    width: 110%;
    border-radius: 50%;
    border: 1rem solid rgb(255, 216, 168);
    transform: translate(-.4rem, -.2rem)
}
.cookie-body::after {
    content: '';
    position: absolute;
    height: 110%;
    width: 110%;
    bottom: -.4rem;
    right: -.4rem;
    border-radius: 50%;
    border: .8rem solid rgb(183, 144, 114);
    transform: translate(-.3rem, -.2rem)
}

.chocolate-chip {
    background: rgb(179, 133, 98);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    top: 3.5rem;
    left: 3.5rem;
    box-shadow: 6rem 6rem 0 -.2rem rgb(179, 133, 98),
        4rem 8rem 0 .1rem rgb(179, 133, 98),
        8rem 2rem 0 -.4rem rgb(179, 133, 98),
        -1rem 6rem 0 -.2rem rgb(179, 133, 98);
}

/* EXCLAMATION MARK */
.exclamation {
    position: relative;
    min-height: 17rem;
}
.exclamation-main {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    border-radius: 1rem;
    width: 7rem;
    height: 10rem;
    background-color: rgb(226, 119, 84);
}
.exclamation-shadow {
    position: absolute;
    top: 1rem;
    left: 1rem;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    border-radius: 1rem;
    width: 7rem;
    height: 10rem;
    background-color: rgba(0,0,0,.2);
}
.exclamation-dot {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-top: 2rem;
    background-color: rgb(226, 119, 84);
    box-shadow: 1rem 1rem rgba(0,0,0,.2);
}

.exclamation .face {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.exclamation .mouth { background: linear-gradient(to top, rgb(55, 38, 18),  rgb(55, 38, 18) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0)); }
.exclamation .eye-left, .exclamation .eye-right { background-color: rgb(55, 38, 18); }

/* MEDAL */
.medal {
    position: relative;
    height: 15rem;
}
.medal-body {
    position: relative;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background-color: rgb(255, 230, 0);
    border: 2rem solid rgb(236, 185, 0);
    overflow: hidden;
    box-shadow: .5rem .5rem 0 rgba(0,0,0,.2);
}
.medal-body::after {
    content: '';
    position: absolute;
    width: 10rem;
    height: 10rem;
    border: 1rem solid rgb(255, 244, 144);
    top: -.5rem;
    left: -.5rem;
    border-radius: 50%;
}
.medal-ribbon {
    position: absolute;
    bottom: -6rem;
    left: 50%;
    width: 9rem;
    height: 10rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
    background: linear-gradient(to right, rgb(91, 24, 24) 50%, rgb(177, 52, 52) 50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}
.medal-ribbon-shadow {
    position: absolute;
    bottom: -6rem;
    left: 50%;
    width: 9rem;
    height: 10rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
    background: rgba(0,0,0,.2);
    transform: translate(-50%, -50%) translate(.5rem, .5rem);
    z-index: -1;
}

.medal .face {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.medal .mouth { background: linear-gradient(to top, rgb(114, 85, 13),  rgb(114, 85, 13) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0)); }
.medal .eye-left, .medal .eye-right { background-color: rgb(114, 85, 13); }


@keyframes hide {
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0); opacity: 0; }
}
@keyframes popup {
    0% { transform: scale(0); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}